body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}
button {
    background: #3882f6;
    text-align: center;
    width: 110px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: aqua;
}
.container {
    display: flex;
    flex-direction: column;
}

/* navbar */
 .header {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 0px 0px 0px 100px;
}

.hlinks {
    margin-left: auto;
    display: flex;
    padding: 0px 100px 0px 0px;
    justify-content: space-between;
    align-items: center;

}

.hlinks > a {
    border: 0px solid blue;
    border-radius: 10px;
    margin: 0px 10px;
    padding: 0px 10px
}

.logo img {
    height: 80px;
}

/* Awesome */

.awesome {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 90px 350px;
    flex: 1;
}
.awesome_left {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.awesome_right img {
    width: 500px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    flex: 1;
}



/* Content */

.content-images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.content-images img{
    height: 200px;
    width: 200px;
    border: 4px solid blue;
    object-fit: cover;
    border-radius: 10px;
}

/* Quote */

.Quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 0 200;
}

.Quote p {
        font-size: 36px;
        color: #1F2937;
        font-style: italic;
        font-weight: lighter;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}

.Sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 250px;
}

footer > a {
    color: #37d110;
}